*{
    margin: 0;
    padding: 0;
    background-color: rgb(136, 95, 160);
}

section h2{
    margin: 150px auto 10px auto;
    padding-top: 50px;
    width: 1000px;
    height: 100px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 26pt;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

